/*common*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Noto Serif";
}

.body {
  background-color: rgb(245, 248, 255);
}
.container {
  max-width: 1140px;
  margin: auto;
}

/*header*/

.head-logo-left {
  width: 140px;
  height: 85px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.navbar ul li {
  list-style: none;
}
.navbar ul li a {
  text-decoration: none;
}

.navbar ul li a {
  font-weight: 400;
  color: rgb(137, 135, 161);
}
.Home {
  font-weight: bold;
  color: rgb(37, 36, 50);
}

.Cart {
  font-weight: 500;
  color: rgb(0 0 0);
}
.fa-solid {
  color: black;
}
.navbar ul {
  font-size: 18px;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  padding: 22px 0px 22px 0px;
  height: 60px;
}
.navbar ul li a :hover {
  color: rgba(255, 127, 80, 0.811);
}
/*banner-section*/
.banner-title {
  font-size: 65px;
  font-weight: 700;
  text-align: left;
}
.FRESH-FLOWERS {
  color: rgb(233, 90, 8);
}

.banner-description {
  font-size: 22px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  text-align: left;
  height: 108px;
}
.banner-img {
  max-width: 100%;
  width: 570px;
  height: 355px;
  border: 1px dotted rgba(0, 0, 0, 0.5);
}
.banner-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}
/*our-plants-section*/
.our-plants-title {
  font-size: 58px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 16px;
}
.Our {
  color: rgb(233, 90, 8);
}
.our-plant-descrip {
  font-size: 22px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
.our-plants {
  margin-top: 80px;
  margin-bottom: 50px;
}
/*Card-section*/
.card {
  width: 270px;
  cursor: pointer;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.379);
}
.card h4 {
  font-size: 22px;
  font-weight: 500;
  color: rgb(17, 17, 17);
  text-align: center;
}
.card h3 {
  font-size: 22px;
  font-weight: 700;
  color: rgb(17, 17, 17);
  text-align: center;
  font-family: sans-serif;
}
.btn-primary {
  background-color: rgb(233, 90, 8);
  border: none;
  color: white;
  font-size: 18px;
  font-weight: 600;
  padding: 20px 50px 20px 50px;
  width: 270px;
  text-align: center;
  align-items: center;
}
.btn-primary:hover {
  background-color: rgba(153, 50, 204, 0.788);
  cursor: pointer;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  margin-bottom: 200px;
}

/*after-card-truted section*/
.flower-store {
  width: 540px;
}
.after-card-left {
  position: relative;
}
.trusted-badge {
  width: 300px;
  position: absolute;
  top: -100px;
  left: 345px;
}

.after-card-heading {
  font-size: 50px;
  font-weight: bold;
  gap: 10px;
}
.after-card-right ul li {
  color: rgba(0, 0, 0, 0.5);
  gap: 10px;
}
.after-card-right ul li p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 22px;
  font-weight: 400;
}
.after-card-right {
  width: 540px;
}
.after-card {
  display: flex;
  gap: 100px;
  align-self: center;
}

/*Latest Deal*/

.lets-deal h2 {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
}
.lets-deal p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  margin-top: 20px;
}
.lets-deal {
  margin-top: 100px;
}

/*offer section*/
.offer-card-1 {
  position: relative;
}

.offer-card-content {
  position: absolute;
  top: 55px;
  left: 65px;
  bottom: -65px;
  text-align: center;
  color: white;
  font-size: 1.28rem;
}
.offer-card-content a {
  color: white;
}
.deal-img {
  border: none;
  border-radius: 25px;
}
.card-1-1 {
  margin-bottom: 15px;
}
.offer-card-1-2 {
  height: 423px;
}


.offer-card-right {
  width: 750px;
  position: relative;
}
.deal-img-right {
  border: none;
  border-radius: 20px;
}
.offer-card-content-right a {
  color: white;
}
.offer-card-content-right {
  position: absolute;
  top: 180px;
  left: 250px;
  color: white;
  font-size: 1.5rem;
  text-align: center;
  height: 420px;
}
.offer-card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 120px;
}
.offer-card-container a :hover {
  color: chocolate;
}
/*join bunch section*/
.bunch-heading {
  font-size: 50px;
  font-weight: 700;
  color: white;
  height: 68px;
  margin-bottom: 23px;
}
.email {
  width: 644px;
  height: 50px;
  color: color: rgba(0, 0, 0, 0.5);
  border: none;
  padding: 8px 20px 8px 20px;

}
.btn-subscribe{
  box-sizing: border-box;
  width: 186px;
max-height: 55px;
padding: 20px 50px 20px 50px;
justify-content: center;
gap:-10px;
background-color: rgb(233, 90, 8);
border: none;
left: 10px;
color: white;
font-weight: 600;
}
.btn-subscribe:hover{
  background-color: blueviolet;
  cursor: pointer;
}

.join-the-bunch {
  margin-top: 120px;
  padding:199px 200px;
  height: 533px;
  background-image: url(../assets/news-letter-bg.png);
  text-align: center;
  align-items: center;
}

/*footer section*/
.foter-des{margin-top: 5px;
  font-size:22px;
  color: rgba(0, 0, 0, 0.5);
}
.footer-nav ul li a{
  text-decoration: none;
  color:rgba(0, 0, 0, 0.5) ;
  text-align: center ;
}
.footer-nav ul li  {
  list-style: none;

}
.footer-nav-2 ul li {
list-style: none;
}
.footer-nav-2 ul li a {
text-decoration: none;
  color:rgba(0, 0, 0, 0.5) ;
  text-align: center;
}
.icon ul li {
  list-style: none;

}
.icon ul {
  display: flex;
  gap: 10px;
  align-items: center;
}
.footer-section{
  display: flex;
  gap: 30px;
  justify-content: space-between;
  box-sizing: border-box;
  padding:  50px 160px 50px 160px;
}


/*responsive mobile*/

@media screen and (max-width:576px) {

   .container{ 
    margin: 10px;
  }

  .Shop, .About-us{
    display: none;
  }

  .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
/*banner section*/
.banner-img {
  max-width: 100%;
  width: 570px;
  height: 355px;
  margin-bottom: 80px;
  border: none;
  left: 0;
}
.banner-section {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-top: 50px;
}
/*our plant*/
.our-plants-title {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 16px;
  margin-top: 50px;
}
.our-plants{
  margin:120px auto;
  align-items: center;
  text-align: center;
  
}
/*card section*/
.card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  margin-bottom: 60px;
}
/*after card*/
.after-card {
  display: flex;
  flex-direction:column;
  gap: 100px;
  align-self: center;
}
.trusted-badge {
  display: none;

}
.offer-card-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-top: 120px;
  align-items: center;
  
}

.offer-card-right {
  width:auto;
  position: relative;
}
.deal-img-right {
  filter: brightness(60%);
  width: 380px;
  border: none;
  border-radius: 20px;
}
.offer-card-content-right a {
  color: white;
}
.offer-card-content-right {
  position: absolute;
  top: 80px;
  left: 80px;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  
}
/*join the bunch*/

.bunch-heading {
  font-size: 30px;
  font-weight: 700;
  color: white;
display: inline;
  margin-bottom: 23px;
}
.email {
  width: auto;
  height: 30px;
  color: color: rgba(0, 0, 0, 0.5);
  border: none;}
  
.btn-subscribe{
  box-sizing: border-box;
  width: auto
padding: 15px;
justify-content: center;
gap:-10px;
background-color: rgb(233, 90, 8);
border: none;
color: white;
font-weight:400;
}
.join-the-bunch {
  margin-top: 120px;
  background-image: url(../assets/news-letter-bg.png);
  text-align: center;
  align-items: center;
}
/*footer section*/

.footer-section{
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-between;
  box-sizing: border-box;
  padding:  50px 160px 50px 160px;
}
 
}